@font-face {
    font-family: 'PTMono';
    src: url('fonts/PTMono.ttc');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'BSKombat';
    src: url('fonts/BSKombat.ttf');
    font-weight: 300;
    font-style: normal;
}

div {
  font-size: 20px;
  font-family: 'BSKombat';
  color: #333;
  background: #fff;
  width: 100%;
}

#title{
  max-width: 400px;
  margin: 80px 0 0 -40px;
  text-align: right;
}

#container{
  max-width: 400px;
  margin: 7em auto;
}

#mediumcontainer{
  max-width: 500px;
  margin: 7em auto;
}


.main-icon{
  display: inline-block;
  width: 100px;
  height: 100px;
  border-color: black;
  border-width: 3px;
  border-style: solid;
}

.main-icon:hover {
  transform: scale(1.1);
  transition-delay: 0.05s;
  transition-duration: 0.2s;
  transform-origin: center;
}

#main-menu{
  max-width: 400px;
  text-align: center;
  display: block;
}

#Home{
  background-image: url('img/back.svg');
  background-size: 80px 80px;
  background-position: 9px 18px;
}

#Requisicion{
  background-image: url('img/requi.svg');
  background-size: 80px 80px;
  background-position: 10px 20px;
}

#Compras{
  background-image: url('img/compras.svg');
  background-size: 100px 100px;
  background-position: 0px 10px;
}

#Analitica{
  background-image: url('img/analitica.svg');
  background-size: 100px 100px;
  background-position: 0px 10px;
}

#Cervecera{
  background-image: url('img/logo-cervecera.jpg');
  background-size: 100px 90px;
  background-position: 0px 5px;
  background-repeat: no-repeat;
}

#Upload{
  background-image: url('img/up.svg');
  background-size: 100px 100px;
  background-position: 0px 10px;
}

#Ajustes{
  background-image: url('img/ajustes.svg');
  background-size: 100px 100px;
  background-position: 0px 10px;
}

#Add{
  background-image: url('img/add.svg');
  background-size: 100px 100px;
  background-position: 0px 10px;
}

#Edit{
  background-image: url('img/edit.svg');
  background-size: 100px 100px;
  background-position: 0px 10px;
}

#Revision{
  background-image: url('img/revision.svg');
  background-size: 100px 100px;
  background-position: 0px 10px;
}

#Aclaracion{
  background-image: url('img/aclaracion.svg');
  background-size: 100px 100px;
  background-position: 5px 10px;
}

#Usuarios{
  background-image: url('img/usuarios.svg');
  background-size: 100px 100px;
  background-position: 0px 10px;
}

#Lista{
  background-image: url('img/lista.svg');
  background-size: 100px 100px;
  background-position: 0px 10px;
}

#Ruta{
  background-image: url('img/ruta.svg');
  background-size: 100px 100px;
  background-position: 0px 10px;
}

#Aclaraciones{
  background-image: url('img/aclaraciones.svg');
  background-size: 100px 100px;
  background-position: 0px 10px;
}

#Venta{
  background-image: url('img/venta.svg');
  background-size: 100px 100px;
  background-position: 0px 10px;
}

#Otro{
  background-image: url('img/otro.svg');
  background-size: 100px 100px;
  background-position: 0px 10px;
}

#Clientes{
  background-image: url('img/clientes.svg');
  background-size: 100px 100px;
  background-position: 0px 10px;
}

#Stock{
  background-image: url('img/stock.svg');
  background-size: 100px 100px;
  background-position: 0px 10px;
}

#Cacomixtle{
  background-image: url('img/cacomixtle.jpg');
  background-size: 100px 100px;
  background-position: 0px 4px;
}

#PlantaAlta{
  background-image: url('img/logo-PA.png');
  background-size: 100px 100px;
  background-position: 2px 0px;
}

#BarraJardin{
  background-image: url('img/barra.svg');
  background-size: 100px 100px;
  background-position: 0px 10px;
}

#BarraPlantaAlta{
  background-image: url('img/barra-PA.svg');
  background-size: 100px 100px;
  background-position: 0px 10px;
}
