{% extends 'webapp/base.html' %}

{% block content %}
    <div id="main-menu">
      <a href="home">
        <div class="main-icon" id="Home">
        </div>
      </a>
      <a href="ruta-cerveza">
        <div class="main-icon" id="Ruta">
        </div>
      </a>
      <a href="stock">
        <div class="main-icon" id="Stock">
        </div>
      </a>
      <a href="clientes">
        <div class="main-icon" id="Clientes">
        </div>
      </a>
      <a href="cervezanalitica">
        <div class="main-icon" id="Analitica">
        </div>
      </a>
      <a href="requisicion">
        <div class="main-icon" id="Ajustes">
        </div>
      </a>
    </div>
{% endblock %}
