{% extends 'webapp/base.html' %}

{% block content %}
    <div id="main-menu">
      <a href="home">
        <div class="main-icon" id="Home">
        </div>
      </a>
      <a href="lista">
        <div class="main-icon" id="Lista">
        </div>
      </a>
      <a href="ruta">
        <div class="main-icon" id="Ruta">
        </div>
      </a>
      <a href="aclaracion">
        <div class="main-icon" id="Aclaracion">
        </div>
      </a>
      <a href="upload">
        <div class="main-icon" id="Upload">
        </div>
      </a>
      <a href="ajustes">
        <div class="main-icon" id="Ajustes">
        </div>
      </a>
    </div>
{% endblock %}
