{% extends 'webapp/base.html' %}

{% block content %}
    <div id="main-menu">
      <a href="requisicion">
        <div class="main-icon" id="Requisicion">
        </div>
      </a>
      <a href="compras">
        <div class="main-icon" id="Compras">
        </div>
      </a>
      <a href="analitica">
        <div class="main-icon" id="Analitica">
        </div>
      </a>
      <a href="cervecera">
        <div class="main-icon" id="Cervecera">
        </div>
      </a>
      <a href="upload">
        <div class="main-icon" id="Upload">
        </div>
      </a>
      <a href="admin">
        <div class="main-icon" id="Usuarios">
        </div>
      </a>
    </div>
{% endblock %}
