{% extends 'webapp/long.html' %}

{% block content %}
    <div id="tabla3">
      <a href="compras">
        <div id=Back class="proveedor">
          <p style="vertical-align:middle;"><br></p>
        </div>
      </a>
      <br><br>

      <div id="demo">
    <table class="display">
      <thead>
      <tr>
    <th>√</th>
    <th>Producto</th>
    <th>Cantidad</th>
    <th>Unidad</th>
    <th>Proveedor</th>
    <th>Fecha de Requisición</th>
  </tr>
  </thead>
  <tbody>
      {{contenido | safe}}
      </tbody>
    </table>
</div>
      <script>
        $(document).ready( function () {
          $('.display').DataTable(
            {"aaSorting": [[0,'desc']],
              "aoColumns": [
            { "orderDataType": "dom-text",type:"string"},null,null,null,null,null
          ],
        "language": {
            "lengthMenu": "Mostrar _MENU_ renglones por página.",
            "zeroRecords": "No encontramos registros - Lo siento :(",
            "info": "Mostrando página _PAGE_ de _PAGES_",
            "infoEmpty": "No hay registros",
            "search":    "Búsqueda:",
            "infoFiltered": "(filtro aplicado de un total de _MAX_ entrada)",
            "paginate": {
      "first":      "Primero",
      "last":       "Último",
      "next":       ">",
      "previous":   "<"
  },
        }
    }
          );
        } );


        function update_lista(id,status){
          var csrftoken = getCookie('csrftoken');
          var headers = new Headers();
          headers.append('X-CSRFToken', csrftoken);
            $.ajax({
           url: 'ajax',
           method: 'POST',
           headers: headers,
           credentials: 'include',
           data: {
             'proceso': 'updatelista',
             'id':id,
             'done': status,
           },
           dataType: 'json',
           success: function () {
             alert("listo!");
           }
          });
          }


      </script>
    </div>
{% endblock %}
