{% extends 'webapp/base.html' %}

{% block content %}
    <div id="main-menu">
      <a href="requisicion">
        <div class="main-icon" id="Home">
        </div>
      </a>
      <a href="c-proveedores?zona=cacomixtle&nivel=1">
        <div class="main-icon" id="Cacomixtle">
        </div>
      </a>
      <a href="pa-proveedores">
        <div class="main-icon" id="PlantaAlta">
        </div>
      </a>
      <a href="b-proveedores">
        <div class="main-icon" id="BarraJardin">
        </div>
      </a>
      <a href="bpa-proveedores">
        <div class="main-icon" id="BarraPlantaAlta">
        </div>
      </a>
    </div>
{% endblock %}
