{% extends 'webapp/base.html' %}

{% block content %}
    <div id="main-menu">
      <a href="home">
        <div class="main-icon" id="Home">
        </div>
      </a>
      <a href="nuevar">
        <div class="main-icon" id="Add">
        </div>
      </a>
      <a href="editarr">
        <div class="main-icon" id="Edit">
        </div>
      </a>
      <a href="revisarr">
        <div class="main-icon" id="Revision">
        </div>
      </a>
      <a href="aclararr">
        <div class="main-icon" id="Aclaracion">
        </div>
      </a>
      <a href="ajustarr">
        <div class="main-icon" id="Ajustes">
        </div>
      </a>
    </div>
{% endblock %}
